@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Trebuchet MS","Lucida Sans Unicode","Lucida Grande","Lucida Sans",Arial,sans-serif;
  }
}

.profile {
  @media screen and (max-width: 430px) {
    padding-bottom: 16px;
  }

  @media screen and (width: 768px) {
    padding: 16px;
  }
}

.profile-image {
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.profile-image-mobile {
  display: none;
  padding: 16px 0px 8px;
  @media screen and (max-width: 480px) {
    display: block;
  }
}

.skill-list {
  @media screen and (max-width: 480px) {
    height: 400px;
    overflow: auto;
  }
}

@keyframes smooth-appear {
  to{
    bottom: 20px;
    opacity:1;
  }
}

@keyframes smooth-disapear {
  0% {
    bottom: 20px;
    opacity: 1;
  }
  60% {
    bottom: 20px;
    opacity: 1;
  }
  to{
    bottom: 0px;
    opacity: 0;
  }
}

.form-info {
  top: -40px;
  bottom: -100%;
  opacity:0;
  animation: smooth-appear 1s ease forwards, smooth-disapear 3s ease forwards 400ms; /* Added smooth-disapear animation with a duration of 2s, starting after 1s delay */
}

.submit-disable {
  background-color: rgb(71 85 105) !important;
}